*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.secondary {
  color: #ED6663;
}

.primary {
  color: #0F4C81;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Med";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  letter-spacing: 1px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page-heading {
  text-transform: uppercase;
}

h1, h3 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

#home, #about, #education, #work-exp, #projects, #skills {
  min-height: 100vh;
  width: 90%;
  margin: auto;
}

.page-heading {
  letter-spacing: 6px;
  font-size: 1.2rem;
  font-family: "Montserrat-Bold", sans-serif;
  margin: 4rem 0;
  text-align: center;
}

.page-heading::after {
  display: block;
  content: "";
  border-bottom: 4px solid #ED6663;
  padding-top: 2px;
  width: 5%;
  transition: 0.5s;
  margin: 0.5rem auto auto;
}

.page-heading:hover::after {
  width: 15%;
}

.nav-links {
  display: none;
}

.hamburger-menu {
  position: absolute;
  top: 5%;
  right: 5%;
}

.hamburger-menu span {
  padding: 0.1rem 1.2rem;
  background: linear-gradient(to left, #0F4C81, #ED6663);
  margin: 0.4rem 0;
  display: block;
}

#home {
  position: relative;
  min-height: 100vh;
}

.home-text {
  text-align: center;
  grid-column: 1/9;
}

.home-img {
  margin-top: 4rem;
  grid-column: 1/9;
  text-align: center;
}

.lg-heading {
  font-family: "Montserrat-Bold", sans-serif;
  background: linear-gradient(to left, #0F4C81, #ED6663);
  margin-top: 10rem;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sm-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0 2rem 0;
  letter-spacing: 4px;
}

.home-social a {
  margin: 1rem;
}

.about-text {
  text-align: center;
  grid-column: 1/9;
}
.about-text h1 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2.4rem;
  margin: 2rem 0;
}
.about-text p {
  letter-spacing: 2px;
  text-align: center;
  font-weight: 600;
}
.about-text input {
  margin: 2rem 0;
  color: white;
  background: rgba(15, 76, 129, 0.8);
  padding: 1rem 3rem;
  border-radius: 25px;
  border: none;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.about-text input:hover {
  background: rgba(15, 76, 129, 0.9);
}

.about-img {
  margin-top: 1rem;
  grid-column: 1/9;
  text-align: center;
}

.uwindsor, .svnit, .education-img {
  text-align: center;
  grid-column: 1/9;
}

#education > div h2 {
  font-family: "Montserrat-Bold", sans-serif;
  margin: 0.5rem 0 0.2rem 0;
  letter-spacing: 1px;
}

#education > div p {
  font-weight: bold;
}

#work-exp p {
  letter-spacing: 2px;
  text-align: center;
  margin: 4rem 0;
  font-weight: 600;
}
#work-exp p span {
  font-weight: 800;
}
#work-exp .companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#work-exp .companies .company {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
#work-exp .companies h3 {
  font-family: "Montserrat-Bold", sans-serif;
  margin: 1.2rem 0 0.2rem 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.skills-grid img {
  justify-self: center;
}

#courses {
  width: 90%;
  margin: auto;
}

.card-udemy {
  padding: 1rem;
  background: #EB5352;
  border-radius: 20px;
  text-align: center;
  color: white;
  position: relative;
}
.card-udemy h3 {
  font-family: "Montserrat-Bold", sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  margin: 1.5rem 0.5rem;
}
.card-udemy p {
  font-size: 0.8rem;
}

.cards {
  position: relative;
}

.arrow {
  top: 50%;
  position: absolute;
  z-index: 2;
  transform: translateY(-50%);
}

.right-arrow {
  right: 2%;
}

.left-arrow {
  left: 2%;
}

@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
