*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #0F4C81;
$secondary-color: #ED6663;
$gradient: linear-gradient(to left, $primary-color, $secondary-color);

.secondary {
  color: $secondary-color;
}

.primary {
  color: $primary-color;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Med";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  letter-spacing: 1px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h3 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

#home, #about, #education, #work-exp, #projects, #skills {
  min-height: 100vh;
  width: 90%;
  margin: auto;
}

#home, #about, #education, #projects, #skills {
  overflow-x: hidden;
}

.svg-img {
  padding: 1rem;
}

.page-heading {
  letter-spacing: 6px;
  font-size: 1.2rem;
  font-family: "Montserrat-Bold", sans-serif;
  padding: 4rem 0;
  text-align: center;
  text-transform: uppercase;
  grid-column: span 8;
}

.page-heading::after {
  display: block;
  content: '';
  border-bottom: 4px solid $secondary-color;
  padding-top: 2px;
  width: 5%;
  transition: .5s;
  margin: 0.5rem auto auto;
}

.page-heading:hover::after {
  width: 15%;
}

.exp-heading {
  margin-top: 4rem;
  padding: 0;

}

@mixin animateToOriginal {
  transform: translate(0, 0);
  opacity: 1;
}

@mixin animateToX($value) {
  opacity: 0;
  transform: translate($value);
  transition: all 1s ease-out;
}