.uwindsor, .svnit, .education-img {
  text-align: center;
  //grid-column: 1/9;
  margin-top: 3rem;
}

.education-img {
  grid-column: span 9;
}

.about-institutions {
  grid-column: span 9;
}

//.education-img {
//  padding: 2rem;
//}

#education > div h2 {
  font-family: "Montserrat-Bold", sans-serif;
  margin: 0.5rem 0 0.2rem 0;
  letter-spacing: 1px;
}

#education > div p {
  font-weight: bold;
}

#education > div{
  @include animateToX(50%);
  //transform: translateX(50%);
  //opacity: 0;
  //transition: all 1s ease-out;
}

#education > div.slide-in{
  @include animateToOriginal;
  //transform: translateX(0);
  //opacity: 1;
}