@mixin child-transition {
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      transition: all 0.3s ease-in #{$i * .2}s;
    }
  }
}

body.prevent-scroll {
  overflow: hidden;
}


.nav-links {
  //display: none;
  position: fixed;
  background: linear-gradient(to bottom, $primary-color, $secondary-color);
  height: 100vh;
  opacity: 0.95;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  clip-path: circle(100px at 110% -15%);
  //-webkit-clip-path: circle(100px at 110% -15%);
  transition: all 1s ease-out;
  pointer-events: none;

  li {
    opacity: 0;
    @include child-transition;
  }

  li.fade {
    opacity: 1;
  }

  a {
    display: inline-block;
    font-size: 1.4rem;
    color: white;
    transition: all 0.2s ease-out;
  }

  a:hover {
    color: black;
    transform: scale(1.2);
  }

}

.nav-links.open {
  clip-path: circle(1500px at 110% -15%);
  //-webkit-clip-path: circle(1500px at 110% -15%);
  pointer-events: all;
}

#home {
  position: relative;
  min-height: 100vh;
  //grid-template-rows: 1fr 1fr;
}

.home-text {
  text-align: center;
  grid-column: 1/9;
  //grid-row: span 1;
}

.home-img {
  //grid-row: span 1;
  //width: 80%;
  //height: 80%;
  margin-top: 3.5rem;
  //margin: auto;
  //margin: 3.5rem auto 0 auto;
  grid-column: 1/9;
  //padding: 2rem;
  text-align: center;
}

//.home-img svg{
//  text-align: center;
//  display: block;
//  margin: auto;
//}

.lg-heading {
  font-family: "Montserrat-Bold", sans-serif;
  background: $gradient;
  margin-top: 10rem;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sm-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0 2rem 0;
  letter-spacing: 4px;
}

.home-social {
  a {
    margin: 1rem;
  }

  img {
    transition: all 0.3s ease-in;
  }

  a:hover img, a:focus img {
    transform: scale(1.1);
  }

}

.toggle .line1 {
  transform: rotate(45deg) translateY(0.85rem);
  background: white;
}

.toggle .line2 {
  transform: translateX(-20px);
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(-45deg) translateY(-0.85rem);
  background: white;
}

.hamburger-menu {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  z-index: 10;
}

.line1, .line2, .line3 {
  transition: all 0.3s ease-in-out;
}

.hamburger-menu span {
  padding: 0.1rem 1.2rem;
  background: $gradient;
  margin: 0.4rem 0;
  display: block;
}


/*********** ANIMATIONS ***********/

#person-1,
#person-2,
#headphones,
#face,
#hair,
#cap-1,
#cap-3,
#cap {
  animation: person 1.5s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#neck {
  animation: person-neck 1s ease-in-out infinite alternate;
  transform-origin: center;
}

#plant-top {
  animation: wave 6s -0.5s linear infinite alternate;
  transform-origin: bottom;
}

#plant-bottom {
  animation: wave 6s linear infinite alternate 0.4s;
  transform-origin: bottom;
}

#b1,
#b3,
#b5,
#b7,
#b9,
#b11 {
  animation: bricks 2s linear infinite alternate;
}

#b2,
#b4,
#b6,
#b8,
#b10,
#b12 {
  animation: bricks 2s linear infinite alternate 1s;
}

#b13,
#b15,
#b17,
#b19,
#b21 {
  animation: bricks 2s linear infinite alternate;
}

#b14,
#b16,
#b18,
#b20 {
  animation: bricks 2s linear infinite alternate 2s;
}

@keyframes bricks {
  from {
    fill: $secondary-color;
    opacity: 0.8;
  }

  to {
    fill: #5335EC;
    opacity: 0.4;
  }
}

@keyframes wave {
  0% {
    transform: rotateZ(0deg) translateZ(-1px);
  }

  25% {
    transform: rotateZ(-6deg) translateZ(-1px);
  }

  50% {
    transform: rotateZ(-3deg) translateZ(-1px);
  }

  75% {
    transform: rotateZ(3deg) translateZ(-1px);
  }

  100% {
    transform: rotateZ(0deg) translateZ(-1px);
  }
}

@keyframes person {
  from {
    transform: rotateZ(-0.6deg);
  }

  to {
    transform: rotateZ(0.6deg);
  }
}

@keyframes person-neck {
  from {
    transform: rotateZ(-0.3deg);
  }

  to {
    transform: rotateZ(0.3deg);
  }
}
