.nav-links{
  display: none;
}

.hamburger-menu{
  position: absolute;
  top: 5%;
  right: 5%;
}

.hamburger-menu span{
  padding: 0.1rem 1.2rem;
  background: $gradient;
  margin: 0.4rem 0;
  display: block;
}

#home{
  position: relative;
  min-height: 100vh;
}

.home-text{
  text-align: center;
  grid-column: 1/9;
}

.home-img{
  margin-top: 4rem;
  grid-column: 1/9;
  text-align: center;
}

.lg-heading {
  font-family: "Montserrat-Bold", sans-serif;
  background: $gradient;
  margin-top: 10rem;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sm-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0 2rem 0;
  letter-spacing: 4px;
}

.home-social a{
  margin: 1rem;
}