//small tablet style
@media screen and (min-width: 620px) {
  body {
    font-size: 17px;
  }

  //All the SVGs
  .svg-img {
    padding: 3rem;
  }
}

@media screen and (min-width: 670px) {
  .svg-img {
    padding: 4rem;
  }

  .card h3 {
    margin: 1.5rem 2rem;
  }
}

@media screen and (min-width: 700px) {
  body {
    font-size: 18px;
  }

  //All the SVGs
  .svg-img {
    padding: 2rem 5rem;
  }

  //Each project in project section
  .project {
    width: 65%;
  }

  .card {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 800px) {
  .svg-img {
    padding: 2rem 6rem;
  }

  .card {
    padding: 2rem;
  }

  .glider {
    margin: auto 4rem;
  }

  .arrow {
    filter: invert(100%);
    transform: scale(1.3) translateY(-50%);
    transition: transform 0.4s ease-in-out;
  }

  .arrow:hover {
    transform: scale(1.4) translateY(-50%);
  }

  //Each project in project section
  .project {
    width: 55%;
  }
}

@media screen and (min-width: 900px) {
  .svg-img {
    padding: 2rem 8rem;
  }

  header {
    display: none;
  }
}

//large tablet and laptop style
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}

//desktop style
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}