#work-exp {
  p {
    letter-spacing: 2px;
    text-align: center;
    margin: 4rem 0;
    font-weight: 600;


    span {
      font-weight: 800;
    }
  }

  p,svg{
    @include animateToX(-50%);
    //transform: translateX(-50%);
    //opacity: 0;
    //transition: all 1s ease-out;
  }

  p.slide-in, svg.slide-in{
    @include animateToOriginal;
    //transform: translateX(0);
    //opacity: 1;
  }

  .companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .company {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3rem 0;
      transform: translateY(50%);
      opacity: 0;
      transition: all 1s ease-out;
    }

    .company.slide-in{
      @include animateToOriginal;
      //transform: translateY(0);
      //opacity: 1;
    }

    h3 {
      font-family: "Montserrat-Bold", sans-serif;
      margin: 1.2rem 0 0.2rem 0;
    }
  }
}

.light-window {
  animation: night-window-light 4s ease-in-out infinite alternate;
}

#building {
  animation: night-building 4s ease-in-out infinite alternate;
}

#sky {
  animation: night-sky 4s ease-in-out infinite alternate;
}

.window {
  animation: night-window-opacity 4s ease-in-out infinite alternate;
}

#coder{
  animation: person 1.5s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes night-building {
  from {
    fill: #DFD9FD;
  }
  to {
    fill: #C1B5FF;
  }
}

@keyframes night-sky {
  from {
    fill: #B9ABFF;
  }
  to {
    fill: #625B88;
  }
}

@keyframes night-window-light {
  0% {
    fill: #5335EC;
    opacity: 0.4;
  }
  50% {
    fill: #FFFF00;
    opacity: 0.7;
  }
  100% {
    fill: #FFFF00;
    opacity: 0.9;
  }

}

@keyframes night-window-opacity {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.7;
  }
}

